@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Exo", sans-serif;
}
/*----------------------------------------------------------?*/

/*animation background PAGE*/
.context {
  width: 100%;
  position: absolute;
  top: 50vh;
  z-index: 10;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}

.area {
  background: #8186d5;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
  position: relative;
}



.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  z-index: 1;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
/*----------------------------------------------------------?*/
/*----------------------------------------------------------?*/
/*----------------------------------------------------------?*/


/*The Navbar Html designs*/


ul {
 text-align:center;

}
ul li {

 list-style:none;
 display: inline-block;
 line-height:115px;
 font-size:20px;

}

ul li a {
  text-decoration:none;
  padding:0 20px;
  color:#fff;
  font-family: 'Montserrat', sans-serif;
  font-size:24px;
  font-variant:small-caps;
  font-weight: 500;
}


 ul li a:hover{
 color:black;
}


nav {
  background-color: #5760AD;
  width: 100%;
  height:120px;
}

/*----------------------------------------------------------?*/
/*----------------------------------------------------------?*/
/*----------------------------------------------------------?*/


/*the animation which comes from the right (titles)*/

.context{
  font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
}


.container{
  text-align: center;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
width: 100%;
}
.container span{
  color: white;
  text-transform: uppercase;
  display: block;
}

.text1{
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  position: relative;
  animation: text 3s 1;
}
.text2{
  font-size: 30px;
  color: #6ab04c;
}

@keyframes text {
  0%{
   color: black;
    margin-bottom:-40px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85%{
    letter-spacing:8px;
    margin-bottom: -40px;
  }
}

/*----------------------------------------------------------?*/
/*----------------------------------------------------------?*/
/*----------------------------------------------------------?*/



/*footer page layout*/


.footer-wrapper {
  width: 1100px;
  margin: 0 auto;
}
.single-footer {
  width: 33%;
  float: left;
  text-align: left;
  color: #fff;
}
.single-footer ul{
  margin: 0;
  padding: 0;
  list-style: none;
}


.single-footer ul a{
text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}
.single-footer p {
  width: 70%;
}
footer{
  width: 100%;
  height: 550px;
  position: relative;
  bottom: 60%;
  background-color: #757ABC;

}


/*----------------------------------------------------------?*/





/*footer icon pictures*/
.fa-bolt {
  display: block;
  height: 20px;
  left: 60%;
  margin-left: -25px;
  position: absolute;
  width: 20px;
  font-size: 65px;
  color: white;
  bottom:60%;
}



.fa-money-bill-alt {
   display: block;
  height: 20px;
  left: 59%;
  margin-left: -25px;
  position: absolute;
  width: 20px;
  font-size: 65px;
  color: white;
  bottom:30%;
}



/*----------------------------------------------------------?*/




/*footer sizes*/



h2{
  text-align: center;
  font-size:30px;
color:white;
position: absolute;
bottom:80%;
left:44%;

}

h3{
font-size:25px;
  color:white;
position: absolute;
bottom:60%;
left:64%;
}



h5{
  font-size:25px;
  color:white;
position: absolute;
bottom:30%;
left:64%;

}

h6{
  color:white;
  position:absolute;
  bottom:60%;
  left:15%;
font-size:25px;
}

h7{
  color:white;
  position:absolute;
  bottom:30%;
  left:15%;
font-size:25px;
}
/*----------------------------------------------------------?*/




/*footer icons*/


.mod{
  color:#eee;
position: absolute;
  bottom:50%;
    left:64%;
}

.cash{
color:white;
position: absolute;
  bottom:22%;
  left:64%;
}

.music{
  color:white;
position: absolute;
  bottom:50%;
  left:10%;
font-size:60px;
}

.music1{
  color:white;
  position:absolute;
  bottom:50%;
  left:15%;
}

.wrench{
  color:white;
  position:absolute;
  bottom:20%;
  left:10%;
font-size:50px;
}

.wrench1{
   color:white;
  position:absolute;
  bottom:22%;
  left:15%;
}

/*----------------------------------------------------------?*/

/*THE SCROLL BAR*/



::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #8186d5;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #757ABC;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8186d5;
}

/*-----------------------------------------------------------------*/


/*The hover animation over the nav bars */


.lover{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align:center;
  z-index:1;
width:50%;
}
.lover::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: center center;
  transition: transform 0.25s ease-out;
}

.lover:hover::before {
  transform: scaleX(0.2);
}


/*----------------------------------------------------------?*/



/*arrow animation*/




.fa-arrow-down {
  animation: bouncing 1s infinite ease-in-out;
  bottom: 0;
  display: block;
  height: 170px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
  font-size: 25px;
  color: white;
}
.arrow-down {
  position: relative;
}
@keyframes bouncing {
    0% {bottom: 0;}
    50% {bottom: 20px;}
    100% {bottom: 5px;}
}

/*----------------------------------------------------------?*/